/* إعادة ضبط أساسية */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5af19, #f12711);
  font-family: 'Cairo', sans-serif;
}

.game-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  margin: 20px 0;
  font-size: 1.8em;
  color: #333;
}

span {
  color: #ff6347;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  width: 120px;
  height: 120px;
  margin: 0 15px;
  background-color: #fff;
  border: 4px solid #007bff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

button img {
  width: 60px;
  height: 60px;
}

button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  background-color: #007bff;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
  h2 {
    font-size: 1.2em;
  }

  button {
    width: 60px;
    height: 60px;
  }

  button img {
    width: 40%;
    height: 40%;
  }
}
